<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:composite="http://xmlns.jcp.org/jsf/composite/components" xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<title>Indexed Tool</title>

	<link href="#{request.contextPath}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<link href="#{request.contextPath}/resources/css/bootstrap.min.css" rel="stylesheet" />
	<link href="#{request.contextPath}/resources/css/main.css" rel="stylesheet" />
	<link href="#{request.contextPath}/resources/css/font-awesome.min.css" rel="stylesheet" />
	<link href="#{request.contextPath}/resources/css/animate-custom.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css' />
	<script src="#{request.contextPath}/resources/js/modernizr.custom.js"></script>
</h:head>
<h:body>
	<composite:ajax-loading-indicator />
	<div class="container" style="width: 90%;margin: 0 auto;">
		<div class="row">
			<div class="col-md-12 centered">
				<span style="display: inline-block;"> <p:messages id="messages_1" showSummary="false" showDetail="true" escape="false" autoUpdate="false" closable="true" />
				</span>
				
				<h:form id="form_1">
					<p:inputText size="80" maxlength="255" value="#{inputSiteMapJsfController.text['url']}" required="false" requiredMessage="Site Map URL Required" placeholder="Site Map URL" style="margin-bottom: 1px;" />
					<p:commandButton value="Analyze" action="#{inputSiteMapJsfController.doAnalyze}" update=":messages_1 :form_1" style="margin-left: 4px;"></p:commandButton>
					
					<div style="margin-top: 2%">
						<h:panelGroup>
							<p:dataTable id="dataTable_1" var="row" 
								value="#{inputSiteMapJsfController.domains}" 
								paginator="true" rows="100" paginatorTemplate="{FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}" 
								rowsPerPageTemplate="100" resizableColumns="true" lazy="true" paginatorPosition="bottom">
								
								<p:column headerText="Domain">
									<h:outputText value="#{row.domainName}" style="display: inline-block; width: 100%; text-align: left;" />
								</p:column>
								
								<p:column headerText="" style="width: 200px;">
									<a href="#{request.contextPath}/results.jsf?domainID=#{row.id}" target="_blank">Results</a>
								</p:column>
							</p:dataTable>	
						</h:panelGroup>
					</div>
				</h:form>
			</div>
		</div>
	</div>
</h:body>
</html>