<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:composite="http://xmlns.jcp.org/jsf/composite/components" xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<title>Indexed Tool</title>

	<link href="#{request.contextPath}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<link href="#{request.contextPath}/resources/css/bootstrap.min.css" rel="stylesheet" />
	<link href="#{request.contextPath}/resources/css/main.css" rel="stylesheet" />
	<link href="#{request.contextPath}/resources/css/font-awesome.min.css" rel="stylesheet" />
	<link href="#{request.contextPath}/resources/css/animate-custom.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css' />
	<script src="#{request.contextPath}/resources/js/modernizr.custom.js"></script>
</h:head>
<h:body>
	<composite:ajax-loading-indicator />
	<div class="container" style="width: 90%;margin: 0 auto;">
		<div class="row">
				<div class="col-md-12 centered">
				
				<span style="display: inline-block;"> <p:messages id="messages_1" showSummary="false" showDetail="true" escape="false" autoUpdate="false" closable="true" />
				</span>
				
				<h1>Indexed: #{resultsSiteMapJsfController.indexedCount}</h1>
				<h1>De-Indexed: #{resultsSiteMapJsfController.deIndexedCount}</h1>
				<h1>Processing: #{resultsSiteMapJsfController.processingCount}</h1>
					
				<h:form id="form_1">	
					<h:panelGroup>
						<p:dataTable id="dataTable_1" var="row" 
							value="#{resultsSiteMapJsfController.indexedSiteMapsModel}" 
							paginator="true" rows="10" paginatorTemplate="{FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}" 
							rowsPerPageTemplate="100" resizableColumns="true" lazy="true" paginatorPosition="bottom">
							
							<p:column headerText="Indexed Site Maps">
								<h:outputText value="#{row.url}" style="display: inline-block; width: 100%; text-align: left;" />
							</p:column>
							
							<p:column headerText="Indexed" style="width: 150px;">
								<h:outputText value="#{row.status}" style="display: inline-block; text-align: left;" />
							</p:column>
						</p:dataTable>	
					</h:panelGroup>
				</h:form>
				<BR />
				<h:form id="form_2">	
					<h:panelGroup>
						<p:dataTable id="dataTable_1" var="row" 
							value="#{resultsSiteMapJsfController.deIndexedSiteMapsModel}" 
							paginator="true" rows="10" paginatorTemplate="{FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}" 
							rowsPerPageTemplate="100" resizableColumns="true" lazy="true" paginatorPosition="bottom">
							
							<p:column headerText="DeIndexed Site Maps">
								<h:outputText value="#{row.url}" style="display: inline-block; width: 100%; text-align: left;" />
							</p:column>
							
							<p:column headerText="Indexed" style="width: 150px;">
								<h:outputText value="#{row.status}" style="display: inline-block; text-align: left;" />
							</p:column>
						</p:dataTable>	
					</h:panelGroup>
				</h:form>
				<BR />
				<h:form id="form_3">	
					<h:panelGroup>
						<p:dataTable id="dataTable_1" var="row" 
							value="#{resultsSiteMapJsfController.processingSiteMapsModel}" 
							paginator="true" rows="10" paginatorTemplate="{FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}" 
							rowsPerPageTemplate="100" resizableColumns="true" lazy="true" paginatorPosition="bottom">
							
							<p:column headerText="Processing Site Maps">
								<h:outputText value="#{row.url}" style="display: inline-block; width: 100%; text-align: left;" />
							</p:column>
							
							<p:column headerText="Indexed" style="width: 150px;">
								<h:outputText value="#{row.status}" style="display: inline-block; text-align: left;" />
							</p:column>
						</p:dataTable>	
					</h:panelGroup>
				</h:form>
			</div>
		</div>
	</div>
</h:body>
</html>